<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/dataset/" | relative_url }}">Datasets</a></li>
                <li {% if page.sectionid=='submit' %} class="active" {% endif %}><a href="{{ "/docs/submit/" | relative_url }}">Submit</a></li>
                <li {% if page.sectionid=='links' %} class="active" {% endif %}><a href="{{ "/docs/links/" | relative_url }}">Links</a></li>
                <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">Post</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/WoodyLinwc/CS410-Prototype" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://cs410.net/" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
